<img class="lazy img-centered" width="80%" src="assets/images/lazy.jpg" data-src="assets/images/budget/budget.png">
<p>We were able to use scrap material we found and already had motors and an Arduino to use for testing in sprint 1 and sprint 2. For the final sprint, we bought materials for the final enclosure, which left us under the $250 budget. This included the MDF for the enclosure, timing belts, shafts, standoffs, bolts, spacers, stepper motors, sand, and magnets. We were able to either find or borrow the arduino, motor drivers, breadboard, and LEDs for the final design, so this didn’t exceed our $250 budget.</p>