<img class="lazy column-image" width="100%" src="assets/images/lazy.jpg" data-src="assets/images/electrical/circuit_diagram.png">
<p>The electrical system of the sand table consists of two main sections. The first part consists of two Nema 17 stepper motors, two A4988 stepper drivers, and an Arduino to control the drivers. We used a 100µF bypass capacitor to smooth out the 12V power supply. The second part is the strip of LEDs, which has a 5V power supply and is controlled by a separate Arduino.</p>

<div class="row">
    <div class="col-md-6">
        <img class="lazy column-image" width="100%" src="assets/images/lazy.jpg" data-src="assets/images/electrical/1.jpg">
    </div>
    <div class="col-md-6">
        <img class="lazy column-image" width="100%" src="assets/images/lazy.jpg" data-src="assets/images/electrical/2.jpg">
    </div>
</div>
<p>Stepper drivers and Arduino (left) and LED power and Arduino (right).</p>